<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/account.css">

    </head>
    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <%- include('../partials/navigationpartial') %>
            <main>
                <%- body %>
            </main>
            <%- include('../partials/footer') %>
        </div>
    </body>
</html>